.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.modal > div {
  background-color: var(--bg-2);
  padding: 15px;
  border-radius: 1rem;
}
input {
  min-width: 0;
}
input.long {
  width: 222px;
}
.status-offline {
  --status: #f66;
}
.status-running {
  --status: #f66;
}
.status-starting {
  --status: #ff6;
}
.status-installing {
  --status: #66f;
}
.status-suspended {
  --status: #b22;
}
.server {
  background-color: var(--bg-2);
  color: var(--text-1);
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  border-left: 8px var(--status) solid;
  display: flex;
  transition: 200ms;
}
.server div {
  flex: 1;
}
a:has(.server) {
  text-decoration: none;
}
.server:hover {
  filter: var(--bg-3);
}
.server-title {
  font-weight: bold;
}
.subtext {
  font-size: 10px;
  margin-top: -2px;
}
.file {
  background-color: var(--bg-2);
  padding: 4px;
  padding-left: 8px;
  margin: 4px;
  border-radius: 0.5rem;
  transition: 200ms;
}
.file:hover {
  background-color: var(--bg-3);
}
dialog {
  background-color: var(--bg-2);
  color: var(--text-1);
  border: 2px black solid;
  border-radius: 1rem;
}
.user {
  background-color: var(--bg-2);
  color: var(--text-1);
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
