.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.modal > div {
  background-color: #222;
  padding: 15px;
  border-radius: 1rem;
}
input {
  min-width: 0;
}
input.long {
  width: 222px;
}
