.status-offline {
  --status: #f66;
}
.status-running {
  --status: #6f6;
}
.status-starting {
  --status: #ff6;
}
.status-installing {
  --status: #66f;
}
.status-suspended {
  --status: #622;
}
.server {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  border-left: 8px var(--status) solid;
  color: var(--text-1);
  background-color: var(--bg-2);
  transition: 250ms;
}
.server:hover {
  background-color: var(--bg-3);
}
.server div {
  flex: 1;
}
a:has(.server) {
  text-decoration: none;
}
.server-title {
  font-weight: bold;
}
.subtext {
  font-size: 75%;
}

.file {
  background-color: var(--bg-2);
  padding: 4px;
  padding-left: 8px;
  margin: 4px;
  border-radius: 0.5rem;
  transition: 200ms;
}
.file:hover {
  background-color: var(--bg-3);
}

.user {
  background-color: var(--bg-2);
  color: var(--text-1);
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
