body {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  width: 12dvw;
  min-width: 120px;
  height: 100%;
  padding: 10px 0px;
  background-color: var(--bg-2);
  box-sizing: border-box;
}
nav button {
  display: inline-flex;
  gap: 5px;
  width: 100%;
  text-align: left;
  padding: 5px;
  border: none;
  border-radius: 0px;
  outline: none !important;
}
nav button:hover {
  color: var(--text-0) !important;
  padding-left: 8px;
  background-color: var(--bg-3) !important;
}
nav div {
  max-height: 0px;
  padding-left: 5px;
  margin-left: 5px;
  border-left: 2px var(--bg-1) solid;
  overflow: scroll;
  transition: var(--time-1);
}
nav hr {
  color: var(--bg-1);
  width: 80%;
}

main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}

.subtext {
  font-size: 75%;
  color: var(--text-2);
}

/* Pages */
.pages {
  display: flex;
  margin: 0px 10px;
  justify-content: center;
}
.pages p {
  flex: 1;
  text-align: center;
}

/* Servers */
.status-offline {
  --status: var(--red-1);
}
.status-running {
  --status: var(--green-1);
}
.status-starting {
  --status: var(--yellow-1);
}
.status-installing {
  --status: var(--blue-1);
}
.status-suspended {
  --status: var(--red-2);
}
.server {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  border-left: 8px var(--status) solid;
  color: var(--text-1);
  background-color: var(--bg-2);
  transition: 250ms;
}
.server:hover {
  background-color: var(--bg-3);
}
.server * {
  cursor: pointer;
}
.server div {
  flex: 1;
}
a:has(.server) {
  text-decoration: none;
}
.server .server-title {
  font-weight: bold;
}
.server span {
  word-break: break-word;
}

/* User */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
}

/* Activity */
#logs {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
#logs > div {
  display: flex;
  gap: 2px;
  align-items: center;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
}
#logs > div > span {
  display: flex;
  align-items: center;
  width: 20vw;
  overflow: hidden;
}
#logs > div > span:nth-child(1) {
  gap: 5px;
}
#logs > div > span:nth-child(2) {
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
}
#logs span img {
  height: 48px;
  width: 48px;
  border-radius: 2rem;
}
#logs .badge {
  padding: 2px 4px;
  font-size: 75%;
  margin-left: 5px;
  border-radius: 0.5rem;
  background-color: var(--bg-3);
}

/* Keys */
#k-new[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#keys {
  display: flex;
  gap: 5px;
  flex-direction: column;
  height: 90dvh;
  margin: 0px 10px;
  overflow: auto;
}
#keys div {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
}
#keys button {
  border: none;
  margin: 0px;
  padding: 1px;
}
#keys button svg {
  display: block;
}

.adder {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  height: calc(10dvh - 10px);
  padding: 10px;
  margin: 5px 10px;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
  box-sizing: border-box;
}
.adder > * {
  display: flex;
  flex-direction: column;
}
.adder input {
  margin: 0px !important;
}
.adder input:invalid, .adder textarea:invalid {
  border-color: var(--red-1);
}
.adder textarea {
  flex: 1;
  margin: 0px;
  resize: none;
}