body {
  display: flex;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

nav {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
  width: 12vw;
  height: 100%;
  padding: 10px 15px;
  background-color: var(--bg-2);
  box-sizing: border-box;
}
nav hr {
  width: 100%;
}

main {
  flex: 1;
}

/* Activity */
#logs {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
#logs > div {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
}
#logs > div > span {
  display: flex;
  align-items: center;
}
#logs > div > span:nth-child(1) {
  width: 20vw;
}
#logs > div > span:nth-child(2) {
  align-items: flex-start;
  flex-direction: column;
}
#logs span img {
  height: 48px;
  width: 48px;
  border-radius: 2rem;
}
#logs .badge {
  padding: 2px 4px;
  font-size: 75%;
  margin-left: 5px;
  border-radius: 0.5rem;
  background-color: var(--bg-3);
}